<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Items</title>
</head>
<body>
    <header>
        <h1>Hello</h1>
    </header>
    
    <div id="wrapper">
        <tbody>
            <tr>
                <th>Item</th>
                <th>Added By</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
            <tr>
                {{Stuff.item}}
            </tr>

        </tbody>

    </div>
</body>
</html>